*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    font-family: Arial;
    line-height: 1.75;
    background-color: #5BA4A4;
}
#welcome-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#welcome-section p {
    color: #3B3B3B;
    font-size: 1.2em;
    text-align: left;
}
#welcome-section,
#mission-section,
#featured-pet {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background-color: #FFF9E6;
    border: 3px solid #C06C48;
    border-radius: 10px;
}
#welcome-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

#welcome-section h1, #mission-section h2, #featured-pet h2 {
    text-align: center;
    color: #C06C48;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.7em; 
    letter-spacing: .2em;
}
#welcome-section img, #featured-pet img {
    border-radius: 10px;
    display: flex;
    justify-content: left;
}
#mission-section a{
    color: #C06C48;
    border-radius: 5px;
}


header {
    background-image: url(icons/rescue-logo.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center;
    height: 200px;
    background-size: 10em;  
    background-color: #C06C48;
}
div#header-container {
    background-color: #C06C48;
    color:#FFF9E6;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 1.5em;
    font: arial;
    text-align: center;
}
header h1 {
    text-align: center;
    font-size: 1em;
    color: #FFF9E6;
    text-transform:uppercase;
    letter-spacing: .5em;
}
a:link {
    color: #FFF9E6;
    text-decoration: underline;
}
a:visited {
    color: #3B3B3B;
    text-decoration: underline;
}

div h1{
    text-align: center;
    color: #FFF9E6;
    font-family: arial;
}
div h2 {
    text-align: center;
    color: #FFF9E6;
    font-family: arial;
}
div h3 {
    text-align: center;
    color: #C06C48;
    font-family: arial;
}
div h4 {
    text-align: center;
    color: #3B3B3B;
    font-family: arial;
}

/* main navigation */
#main-nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

div#adoptable-pets li {
    display: flex;
    justify-content: center;
}
div#contact-info li {
    display: flex;
    justify-content: center;
}
div#social-links p {
    text-align: center;
    color: #FFF9E6;
    text-transform: uppercase;
    letter-spacing: .25em;
    justify-content: center;
}
div#social-links li {
    display: flex;
    justify-content: center;
}
div#about-us a {
    color: #FFF9E6;
}
div p {
    text-align: center;
    color: #3B3B3B;
}
div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#media-video,
#media-audio {
  text-align: center;
}
form {
    text-align: left;
    color: #3B3B3B;
}
footer {
    background-color: #C06C48;
    border-width: 2px;
    color: #FFF9E6;
    text-align: center;
    padding: 10px 0;
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
    li {
        display:inline;
        margin: 0 15px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
a:link {
    color:#FFF9E6;
    text-decoration: none;
    border-color:#5BA4A4;
}
a:hover, a:focus {
    border-color:#FFF9E6;
    background-color: #3B3B3B;
    text-decoration: underline;
    border: 2px transparent 25%;
    padding: 5px;
}
a:visited {
    color:#FFF9E6;
}
a:active {
    border-color:#3B3B3B;
    text-decoration: underline;
    border: 2px transparent 25%;
    padding: 5px;
}
thead {
    background-color: #C06C48;
    color: #3B3B3B;
}
tbody tr:nth-child(even) {
    background-color: #FFF9E6;
    color:#3B3B3B
}
tbody tr:nth-child(odd) {
    background-color: #FFFFF9;
    color:#3B3B3B;
}
tbody tr:nth-last-child(1) {
    color: #3B3B3B;
    font-weight: bold;
}

/* feature pet section */
#featured-pet {
  overflow: auto;
}

#featured-pet img {
  float: left;
  margin: 0 20px 10px 0;
}

#featured-pet p {
  text-align: left;
  margin: 0;
}

/* team section */
#team-section h2 {
    text-align: center;
    margin-bottom: 40px;
}

#team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.member-photo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.member-photo h4 {
    color: #C06C48;
    margin-bottom: 10px;
    text-align: center;
}

.member-bio {
    max-width: 400px;
    margin-left: 0px;
    color: #3B3B3B;
    display: flex;
    flex-wrap: wrap;
}

.member-photo,
#team-section p {
    display: inline-block;
    vertical-align: middle;
}

.member-photo,
.member-bio {
    margin-bottom: 30px;
}

/*event section*/
#events-calendar h1 {
    color:#3B3B3B;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em; 
}
#events-calendar {
    margin: auto;
    padding: 20px;
    max-width: 900px;
    background-color: #FFF9E6;
    border: 3px solid #C06C48;
    border-radius: 10px;
}

#events-calendar table thead {
    color:#3B3B3B;
    background-color: #C06C48;
    width: 100%;
    border-collapse: collapse;
}

/* volunteer section */
#volunteer-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
#volunteer-form label {
    font-weight: bold;
}
#volunteer-form form div {
    display: flex;
    flex-direction: column;
}

#volunteer-form input[type="text"],
#volunteer-form input[type="email"],
#volunteer-form select,
#volunteer-form textarea {
    padding: 8px;
    border: 1px solid #3B3B3B;
    border-radius: 5px;
    width: 100%;
}
#volunteer-form {
    margin: 40px auto;
    background-color: #FFF9E6;
    padding: 20px;
    border: 3px solid #C06C48;
    border-radius: 10px;
    max-width: 700px;
}
.radio-group {
    display: flex;
    gap: 8px;
    align-items: left;
    margin-top: 10px;
}
input[type="submit"] {
    padding: 12px 25px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: bold;
}
input[type="submit"]:hover {
    background-color:#5BA4A4;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

/* adoptable pets*/
#adoptable-pets {
    max-width: 1000px;
    margin: 40px auto;
    padding: 25px;
    background-color: #FFF9E6;
    border: 3px solid #C06C48;
    border-radius: 10px;
}

#pet-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
#adoptable-pets h1 {
    text-align: center;
    color:#C06C48;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    letter-spacing: .25em;
} 
#adoptable-pets h2 {
    text-align: center;
    text-transform: uppercase; 
    color: #C06C48;
    margin-top: 10px;
}